body {
	width:100%;
	margin: 0px;
	height: 90%;
}

nav {
	width:100%;
	height:10%;
	background: repeating-linear-gradient(to right,#101015, #101015 30.1%, #22222A 30.1%, #22222A 100%); 
	
}

#sidebar {
	height:100%;
	background-color: #101015;
	float: left;
	width: 5%;
}

#main {
	height:100%;
	background-color: #22222A;
	width: 95%;
	float: right;
}

#maintext
{
	
	width: 30%;
	float: right;
}
	
nav a{
	/* Text Rules */
	font-family: Theinhardt,sans-serif;
	font-size: .875rem;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	text-decoration-color: currentcolor;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-rendering: optimizeLegibility;
	font-style: normal;
	position: relative;
}

.navlink{
	text-align:right;
	font-family: Theinhardt,sans-serif;
}

.pagetitle{
	text-align: left;
	font-family: Theinhardt,sans-serif;
}



