@font-face {
font-family: "test";
src: url("../Fonts/studio-gothic.gothictrial-extraboldital-webfont.woff");
}


body {
	margin: 0px;
	height: 100%;
	background-color: #101015;
}


#main {
	height:100%;
	width: 95%;
}
#main {
	font-family: 'test';
	font-weight:normal;
	font-style:normal;
}

	

#SideNav {
	background-color: #101015;
	width: 5%;
	height: 100%;
	float: left;
	margin: 0%;
}

section {
	font-size: 4rem;
	color: white;
	padding-top: 15%;
	text-align: center;

}


nav  {
	padding-top: 5%;
	display: flex;
	justify-content: center;
}

nav a {
   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	margin:5%;
}

nav a:hover {
    background-color:  #0000ff;
}
.clear
{
	clear: both;
}
