body {
	margin: 0px;
	height: 100%;
	background-color: #101015;
}


#main {
	height:100%;
	width: 100%;
}

section {
	font-size: 4rem;
	color: white;
	text-align: center;
	padding-top: 15%;
}

#links {
	width: 100%;
	padding-top: 5%;
	display: flex;
	justify-content: center;
}
	
#links a {
	color: white;
	background-color: blue;
	padding-right: 5%;
}

nav  {
	display: flex;
	justify-content: center;
	padding-top: 5%;
}

nav a {
   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color:  #0000ff;
}
.clear
{
	clear: both;
}



